{% extends "listings/base.html" %}

{% block content %}

<h2>{{ band.name }}</h2>

<ul>
    <li>Genre: {{ band.get_genre_display }}</li>
    <li>Année de Formation: {{ band.year_formed }}</li>
    <li>Actif: {{ band.active|yesno }}</li>
    {% if band.official_homepage %}
    <li><a href="{{ band.official_homepage }}"> {{ band.official_homepage }}</a></li>
    {% endif %}
</ul>

<p>{{ band.biography }}</p>

{% for listing in band.listing_set.all %}
<li><a href="{% url 'listing_detail' listing.id %}">{{ listing.title }}</a></li>
{% endfor %}

<a href={% url 'band-change' band.id %}>Editer le groupe</a>
<a href={% url 'band-delete' band.id %}>Supprimer le groupe</a>
<a href={% url 'band_list' %}>Retour aux groupes</a>

{% endblock %}